h1, h2, h3, p, span {
  font-family: "Cinzel", serif;
}

.btn {
  width: 8em;
}

.breadcrumb {
  padding-top: 4em;
  background-color: #e9ecef00;
  font-size: 21px;
}

.min-max {
  padding-left: 1em;
}

.fp-price, .fp-address {
  color: white;
}

.fp-title span {
  font-size: 2.5rem;
}

.fp-title {
  font-size: 4vw;
  margin-bottom: 3.75rem;
  color: white;
  padding-right: 1em;
}

@media only screen and (max-width: 763px) {
  .fp-title {
    font-size: 10vw;
  }
}
.fp-price {
  font-size: 2.5rem;
}

.hero_header {
  color: white;
  font-size: 7vw;
}

.overlay_header {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: white;
  font-size: 1.25rem;
  padding: 1.25rem;
  text-align: center;
  height: 100%;
  z-index: 1;
}

#main_header_row {
  position: absolute;
  top: 16rem;
  left: 1rem;
  z-index: 1;
}


.carousel-control-next,.carousel-control-previous{
  z-index: 3;
}

#main_header {
  height: 43.75rem;
  overflow: hidden;
}

.navbar {
  position: fixed;
  z-index: 5;
  background: #1d1b1b00;
  width: 100%;
}

.nav-scrolled {
  background-color: #343a40f0;
  border-bottom: solid 1px;
}

.nav-link {
  font-size: 1.625rem;
}

.navbar-collapse {
  flex-flow: row-reverse;
}

#section-1 {
  min-height: 200px;
  background: #363636;
}
#section-1 h2 {
  padding-bottom: 0.65rem;
  color: white;
  padding-top: 0.65rem;
  font-size: 2.5rem;
}
#section-1 input {
  height: 2.3rem;
  background: #ffffff00;
  width: 100%;
  color: white;
  font-size: 1.25rem;
}
#section-1 button {
  height: 2.3em;
  background: #343a4008;
  width: 100%;
}
#section-1 .row {
  padding-bottom: 1rem;
}
#section-1 .container {
  max-width: 783px;
}
#section-1 select {
  width: 100%;
  height: 2.3rem;
  background: #a52a2a00;
  color: white;
  font-size: 1.25rem;
}

#section-5 {
  min-height: 50vh;
}
#section-5 p {
  padding-top: 2rem;
}

#section-6 {
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.5)), url("images/house2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}
#section-6 .col-md-7 {
  display: flex;
  justify-content: center;
}
#section-6 .wp-100 {
  width: 70%;
  margin-top: 3rem;
}


#section-7 .container {
  padding: 3rem 0 3rem 0;
}

#zip-search {
  padding: 1rem;
}
#zip-search input {
  border: solid 1px;
}

.search-btn {
  margin-left: 1rem;
}

.d-flex {
  justify-content: center;
}

#s-submit {
  justify-content: center;
}
#s-submit button {
  background: #86a0b1;
}

#feature_sec {
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.5)), url("images/mansion_with_pool.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#feature_sec .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main_header .carousel-item img {
  height: 44rem;
}

.carousel-item img {
  height: 26rem;
}


.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 1.25rem;
  padding: 1.25rem;
  text-align: center;
  height: 100%;
}

.ln-img img {
  width: 100%;
  height: 12.5rem;
}

.cta li {
  font-size: 1.875rem;
}
.cta-col img {
  transition: transform 0.5s ease;
  height: 100%;
  width: 100%;
}
.cta-col:hover img {
  transform: scale(1.2);
}
.cta-col {
  padding: 0;
}
.cta img {
  width: 100%;
  height: 100%;
  opacity: 8;
}
.cta h2 {
  position: relative;
  bottom: 5.5em;
  text-align: center;
  font-size: 4vw;
  color: white;
  font-weight: 400;
  z-index: 3;
}

a:link {
  text-decoration: none;
}

@media only screen and (max-width: 760px) {
  .cta h2 {
    font-size: 8vw;
  }

  .hero_header {
    font-size: 11vw;
  }
}
.overlay-h2 {
  position: relative;
  bottom: 5.5em;
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: 400;
}

.cta img:hover {
  overflow: hidden;
}

.cta-col:hover .overlay {
  opacity: 1;
}

.cta-col {
  padding: 0;
}

#about_section-1 {
  background: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.5)), url("../images/secondary-header-2-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  width: 100%;
}
#about_section-1 .container {
  position: relative;
  top: 20rem;
}

@media only screen and (max-width: 530px) {
  #about_section-1 {
    background: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.5)), url("../images/john-doe-mobile.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
}
#about_section-2 {
  background: #262527;
}
#about_section-2 p {
  color: white;
  font-size: 1.325rem;
}

@media only screen and (max-width: 1200px) {
  #about_section-2 p {
    color: white;
    font-size: 1.225rem;
  }


}

 .hide{
  display: hidden;
}

@media only screen and (max-width: 760px) {
   .hide{
    display: inherit;
  }
   .show{
    display: none;
  }
}

@media only screen and (max-width: 930px) {
  #about_section-2 .fp-title{
   margin-bottom: 0;
 }
}

@media only screen and (max-width: 786px) {
  #about_section-2 img{
   height: 90%;
 }
}

#about_section-2 .row:nth-of-type(2) {
  padding-bottom: 4rem;
}
#about_section-2 img {
  width: 100%;
  padding-top: 2rem;
}

@media only screen and (max-width: 500px) {
  #about_section-2 img {
    padding-bottom: 1rem;
  }
}
/* testimonial Page Begins */
#testimonial_section-2 {
  background: #262527;
  padding-bottom: 2rem;
}

#testimonial_section-2 img {
  height: 9.69rem;
  width: 9.69rem;
}

#testimonial-section-3 {
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.5)), url("../images/sign-contract.jpeg");
  width: 100%;
  height: 48vh;
  color: white;
  background-size: cover;
  background-position: center;
}

#testimonial-section-3 button {
  display: block;
  margin: auto;
  width: 10rem;
}

#testimonial-section-3 .row {
  padding-top: 3rem;
}

@media only screen and (max-width: 991px) and (min-width: 766px) {
  .card-body {
    padding-left: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .card-img {
    display: block;
    margin: auto;
  }

  #testimonial_section-2 img {
    width: 100%;
    height: 21.875rem;
  }
}
#contact_section {
  background: #171a1d;
}

#contact_section h3 {
  color: white;
}

.form-container {
  background-color: #343a40;
  padding: 2rem;
  border-radius: 0.625rem;
}

.form-container label {
  color: white;
}

.footer-dark a {
  color: white;
}
.footer-dark h3 {
  text-align: center;
}
.footer-dark li {
  list-style-type: none;
  text-align: center;
}

@media only screen and (width: 573px) {
  .footer-dark h3 {
    font-size: 3.125rem;
  }
  .footer-dark li {
    font-size: 1.875rem;
  }

  .container {
    min-height: 400px;
  }
}
/* About Begins Here */

/*# sourceMappingURL=main_style.css.map */
