
#about_section-1{
    background:linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.5)), url("../images/secondary-header-2-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    width: 100%;

    & .container{
        position: relative;
        top: 20rem;
    }
}

@media only screen and (max-width:530px){
    #about_section-1{
        background:linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.5)), url("../images/john-doe-mobile.jpg");
        background-attachment: fixed;
        background-size: cover;

    }
}



#about_section-2{
    background:#262527;

    & p{
        color: white;
        font-size: 1.625rem;
    }
    
    & .row:nth-of-type(2){
        padding-bottom: 4rem;
    }

    & img{
        width: 100%;
        padding-top: 2rem;
    }
}





@media only screen and (max-width:500px){
    #about_section-2 img{
    padding-bottom: 1rem;
    }
}

