
#about_section-1{
    background:linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.5)), url("../images/secondary-header-2-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    width: 100%;
}

@media only screen and (max-width:530px){
    #about_section-1{
        background:linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.5)), url("../images/john-doe-mobile.jpg");
        background-attachment: fixed;
        background-size: cover;

    }
}

#about_section-1 .container{
    position: relative;
    top: 20em;
}

#about_section-2{
    background:#262527;
}

#about_section-2 img{
    width: 100%;
    padding-top: 2em;
}

@media only screen and (max-width:500px){
    #about_section-2 img{
    padding-bottom: 1em;
    }
}

#about_section-2 p{
    color: white;
    font-size: 20px;
}

#about_section-2 .row:nth-of-type(2){
    padding-bottom: 4em;
}