.footer-dark a{
    color: white;
}

.footer-dark h3{
    text-align: center;
}

.footer-dark li{
    list-style-type: none;
    text-align: center;
}

@media only screen and (width:573px){
    .footer-dark h3{
        font-size: 50px;
    }
    .footer-dark li{
        font-size: 30px;
    }
    .container{
        min-height: 400px;
    }
}