
.footer-dark{
    & a{
        color: white;
    }
    & h3{
        text-align: center;
    }
    & li{
        list-style-type: none;
        text-align: center;
    }
}

@media only screen and (width:573px){
    .footer-dark{
        & h3{
            font-size: 3.125rem;
        }
        & li{
            font-size: 1.875rem;
        }
    }

    .container{
        min-height: 400px;
    }
}