h1,h2,h3,p,span{
    font-family: 'Cinzel', serif;

}

.btn{
    width: 8em;

}

.breadcrumb{
    padding-top:4em;
    background-color: #e9ecef00;
    font-size: 21px;
}

.min-max{
    padding-left:1em;
}