.hero_header{
    color: white;
     font-size: 7vw;
 }
 
 .overlay_header{
     position: absolute;
     bottom: 0;
     background: rgba(0, 0, 0, 0.3);
     width: 100%;
     color: white;
     font-size:1.25rem;
     padding:1.25rem;
     text-align: center;
     height: 100%;
 }
 
 #main_header_row{
     position: absolute;
     top: 16rem;
     left: 1rem;
 }
 
 
 
 .carousel-control-prev{
     left:0;
     background: black;
     height:4.68rem;
     width:4.68rem;
     position: relative;
     top: -11em;
 } 
 
  .carousel-control-next{
     right:0;
     background: black;
     height:4.68rem;
     width:4.68rem;
     position: relative;
     top: -11em;
 }
 
 .control-box{
     display: flex;
 }

 #main_header{
    height: 43.75rem;
    overflow: hidden;
}
